#navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	align-content: center;
	padding-right: 1vw;
	padding-left: 1vw;
	height: 6vh;
	border-bottom: solid black 1px;
}

#nav-buttons {
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 1vw;
}
