{% extends "portfolio_app/layout.html" %} {% load static %} {% block body %}
<div class="container">
	<div class="info">
        <h1 class="center-heading">Sign In</h1>
		<form class="form" action="{% url "sign_in" %}" method="POST">
            {% csrf_token %}
            <input type="text" name="username" placeholder="Username">
            <input type="password" name="password" placeholder="Password">
            <input type="submit" value="Submit">
        </form>
        {% if message %}
            {{ message }}
        {% endif %}
	</div>
</div>
{% endblock %}